.boxForm {
    width: 100%;
    align-self: center;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 70vw;
    background-color: #33333377;
    z-index: 10;
    overflow-y: scroll;
}

#container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#cancelButton {
    margin-right: 50px;
}

#previewImage {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#imageContainer{
    margin-top: 20px;
}

#theme{
    padding-left: 20%;
    padding-right: 20%;
}