.ClassNameBlock {
  position: relative;
}
.ClassNameBlock .classInformation {
  position: absolute;
  left: 15px;
  bottom: 8px;
  display: block;
  width: 95%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.ClassNameBlock .classInformation .Name {
  font-size: 32px;
  font-weight: 900;
  color: aliceblue;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ClassNameBlock .classInformation .Description {
  color: aliceblue;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
}
.ClassNameBlock .button{
    position:absolute;
    top:12px;
    right:15px;
    color: aliceblue;
    background-color: aliceblue;
    border-radius: 5px;
}